@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Fredericka+the+Great&family=Lovers+Quarrel&family=Montserrat:wght@800&family=Nosifer&family=Raleway&family=Rye&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo{
    font-family: 'Nosifer', cursive;
    font-size: 50px;
    margin-left: 15%;
    letter-spacing: 0.9em;
}
.navbar {
    font-size: 20px;
    
    letter-spacing: 0.2em;
    
}
.navbar-nav{
    margin-left: 20%;
}
.navbar a {
    margin-left: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar a:hover {
    font-weight: 900;
    color: salmon;
    transition-duration: 0.3s;
   
}
body,html {
    height: 100%;
}
.home{
    background-image: url("../Images/Home.jpg");
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: darken;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    
}


.content {
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    opacity: 1;
    
}
.btn {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    margin-left: 50px;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.btn:hover {
    background-color: transparent;
    color: white;
    width: 200px;
    transition: ease-in;
    transition-duration: 0.5s;
    font-weight: 900;
    background-color: rgb(247, 161, 3);
}
.bg-dark{
    background-color: rgba(0,0,0,1) !important;
}
h1{
    
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em; 
    margin-left: 200px;
    margin-top: 50px;
}
h4{
    font-family: 'Lovers Quarrel', cursive;
    font-size: 60px;
}
.col-md-12{
    margin-top: 30px;
}
.col-md-6{
    margin-left: 200px;
}
.col-md-4 img{
    width: 60%;
    height: auto;
}
p{
 font-size: 18px;   
}
  
  /* Remove border and add padding to thumbnails */
  .thumbnail {
    padding: 0 0 15px 0;
    border-radius: 0;
    margin: unset;
  }
  
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  
  .thumbnail .btn{
      margin-left: unset;
  }
  .btn-info{
      margin-top: 50px;
      font-family: 'Nosifer', cursive;
  }
  .col-md-12 p {
      margin-left: 200px;
  }
 
  .btn-block {
      margin-left: unset;
  }
  .btn-info:hover{
      width: 100%;
      background-color: thistle;
      color: black;
      transition: 1.5s ease-in-out;
      margin-left: unset;
  }

  /*Modal*/
  .modal-header {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
  }
  
   .modal-body {
    padding: 40px 50px;
  }
  .btn-danger:hover{
      width: 100%;
      background-color:darkred;

  }
  h4#order{
      font-family: 'Nosifer', cursive;
      
  }
  h4#makeYourOwnHead{
      font-size: 40px;
      font-family: 'Nosifer', cursive;
  }
  .radio-inline,.checkbox-inline{
      margin-right: 50px;
  }
/*Chek Boxes*/
  [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.addPizza:hover {
width: 20%;
background-color: lightskyblue;
margin-right: 100px;

}
#checkout{
  margin-bottom: 100px;
}
#checkout:hover{
  width: 100%;
  background-color: thistle;
  margin-bottom: 30px;
}

input[type=number]{
  width: 100%;
  height: 40px;
  border: 1px solid grey;
}
#viewOrders{
  font-size: 17px;
  font-weight: 100;
  font-family: 'Chelsea Market', cursive;
}
.delivery{
  display: none;
}
.choice{
  background: transparent;
  background-color: rgba(0,0,0,0.65);
  color: white;
  margin-top: 50px;
  display: none;
  border: none;
  box-shadow: 0 8px 15px 0 grey ;
}
.choose{
  display: none;
}
.pick ,.deliver{
  width: 40%;
  
}
.deliver:hover{
  width: 40%;
}
.pick:hover{
  width: 40%;
  margin-left: 150px;
}
#totalbill,#finalMessage{
  
  color: white;
  margin: 30px;
  padding: 20px;
  font-family: 'Chelsea Market', cursive;
  letter-spacing: 0.2em;
}
