@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Fredericka+the+Great&family=Lovers+Quarrel&family=Montserrat:wght@800&family=Nosifer&family=Raleway&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Fredericka+the+Great&family=Lovers+Quarrel&family=Nosifer&family=Raleway&family=Rye&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo{
    font-family: 'Nosifer', cursive;
    font-size: 50px;
    margin-left: 15%;
    letter-spacing: 0.9em;
}
.navbar {
    font-size: 20px;
    
    letter-spacing: 0.2em;
    
}
.navbar-nav{
    margin-left: 20%;
}
.navbar a {
    margin-left: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar a:hover {
    font-weight: 900;
    color: salmon;
    transition-duration: 0.3s;
   
}
body,html {
    height: 100%;
}
.home{
    background-image: url("../Images/Home.jpg");
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: darken;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    
}


.content {
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    opacity: 1;
    
}
.btn {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    margin-left: 50px;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.btn:hover {
    background-color: transparent;
    color: white;
    width: 200px;
    transition: ease-in;
    transition-duration: 0.5s;
    font-weight: 900;
    background-color: rgb(247, 161, 3);
}
.bg-dark{
    background-color: rgba(0,0,0,1) !important;
}
h1{
    
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em; 
    margin-left: 200px;
    margin-top: 50px;
}
h4{
    font-family: 'Lovers Quarrel', cursive;
    font-size: 60px;
}
.col-md-12{
    margin-top: 30px;
}
.col-md-6{
    margin-left: 200px;
}
.col-md-4 img{
    width: 60%;
    height: auto;
}
p{
 font-size: 18px;   
}
  
  /* Remove border and add padding to thumbnails */
  .thumbnail {
    padding: 0 0 15px 0;
    border-radius: 0;
    margin: unset;
  }
  
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  
  .thumbnail .btn{
      margin-left: unset;
  }
  .btn-info{
      margin-top: 50px;
      font-family: 'Nosifer', cursive;
  }